<!-- mobile Menu -->
<div class="mobile-backdrop relative z-40 md:hidden" role="dialog" aria-modal="true">

    <div class="pointer-events-none fixed inset-0 bg-gray-600 bg-opacity-75 opacity-100 ease-linear duration-300"></div>

    <div class="mobileMenu fixed inset-0 translate-x-0 duration-300 flex z-40">

        <div class="relative flex-1 flex flex-col max-w-xs w-full bg-white">

            <div class="closeBtn absolute top-0 right-0 -mr-12 pt-2" onclick="toggleMobileMenu()">
                <button type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                    <span class="sr-only">Close sidebar</span>
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
                <div class="flex-shrink-0 flex items-center px-4 justify-center">
                    <img class="h-8 w-auto" src="/assets/images/logo.jpg" alt="Workflow">
                </div>
                <nav class="mt-5 px-2 space-y-1">
                    {{#each loggedUser.menu}}
                        <a href="{{path}}" class="menu-item first:menu-item-active">
                            <span class="font-fa fa-fw mr-2">{{icon}}</span>{{name}}
                        </a>
                    {{/each}}

                </nav>
            </div>
            <div class="flex-shrink-0 flex border-t border-gray-200 p-4">
                <a href="#" class="flex-shrink-0 group block">
                    <div class="flex items-center">
                        <div>
                            <img class="inline-block h-10 w-10 rounded-full" src="{{loggedUser.avatar}}" alt="">
                        </div>
                        <div class="ml-3">
                            <p class="text-base font-medium text-gray-700 group-hover:text-gray-900">{{loggedUser.name}}</p>
                            {{!-- <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700">View profile</p> --}}
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-shrink-0 w-14">
        </div>
    </div>
</div>

<!-- desktop Menu-->
<div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
    <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
            <div class="flex items-center flex-shrink-0 px-4 justify-center">
                <img class="h-8 w-auto" src="/assets/images/logo.jpg" alt="Workflow">
            </div>
            <nav class="deskMenu mt-5 flex-1 px-2 bg-white space-y-1">
                {{#each loggedUser.menu}}
                    <a href="{{path}}" class="bigMenu-item first:bigMenu-item-active">
                        <span class="font-fa fa-fw mr-2">{{icon}}</span> {{name}}
                    </a>
                {{/each}}
            </nav>
        </div>
        <div class="flex-shrink-0 flex border-t border-gray-200 p-4">
            <a href="#" class="flex-shrink-0 w-full group block">
                <div class="flex items-center">
                    <div>
                        <img class="inline-block h-9 w-9 rounded-full" src="{{loggedUser.avatar}}" alt="">
                    </div>
                    <div class="ml-3">
                        <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">{{loggedUser.name}}</p>
                        {{!-- <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">View profile</p> --}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
